<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/template :: template">
<body>

	<div th:fragment="content">
		<div class="container-xl mx-auto">
			<div class="row">
				<div class="col-lg border">
					<h2 class="text-center">
						Lorem ipsum dolor
					</h2>
					<p class="text-justify my-2">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus placerat leo nisi, 
						sit amet eleifend libero suscipit iaculis. Donec at diam et massa ullamcorper feugiat. 
						Cras tincidunt ac dolor eu consequat. In diam nibh, congue quis cursus eu, aliquam in 
						metus. Aenean ultrices tempor metus quis molestie. Maecenas at risus quis purus aliquam 
						vulputate cursus vel purus. Donec mauris est, molestie at urna accumsan, tristique dapibus 
						mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
						mus. Morbi varius libero ante, sit amet condimentum diam vestibulum sed. Proin sed dignissim 
						nisl. Pellentesque id efficitur nisl, non porttitor eros. Phasellus at velit vel ante malesuada 
						fermentum sed et erat. Nunc vitae egestas lacus. Sed vitae sodales arcu.
					</p>
				</div>
				<div class="col-lg border">
					<h2 class="text-center">
						Lorem ipsum dolor
					</h2>
					<p class="text-justify my-2">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus placerat leo nisi, 
						sit amet eleifend libero suscipit iaculis. Donec at diam et massa ullamcorper feugiat. 
						Cras tincidunt ac dolor eu consequat. In diam nibh, congue quis cursus eu, aliquam in 
						metus. Aenean ultrices tempor metus quis molestie. Maecenas at risus quis purus aliquam 
						vulputate cursus vel purus. Donec mauris est, molestie at urna accumsan, tristique dapibus 
						mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
						mus. Morbi varius libero ante, sit amet condimentum diam vestibulum sed. Proin sed dignissim 
						nisl. Pellentesque id efficitur nisl, non porttitor eros. Phasellus at velit vel ante malesuada 
						fermentum sed et erat. Nunc vitae egestas lacus. Sed vitae sodales arcu.
					</p>
				</div>
				<div class="col-lg border">
					<h2 class="text-center">
						Lorem ipsum dolor
					</h2>
					<p class="text-justify my-2">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus placerat leo nisi, 
						sit amet eleifend libero suscipit iaculis. Donec at diam et massa ullamcorper feugiat. 
						Cras tincidunt ac dolor eu consequat. In diam nibh, congue quis cursus eu, aliquam in 
						metus. Aenean ultrices tempor metus quis molestie. Maecenas at risus quis purus aliquam 
						vulputate cursus vel purus. Donec mauris est, molestie at urna accumsan, tristique dapibus 
						mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
						mus. Morbi varius libero ante, sit amet condimentum diam vestibulum sed. Proin sed dignissim 
						nisl. Pellentesque id efficitur nisl, non porttitor eros. Phasellus at velit vel ante malesuada 
						fermentum sed et erat. Nunc vitae egestas lacus. Sed vitae sodales arcu.
					</p>
				</div>
			</div>
		</div>

	</div>

</body>
</html>